* {
    box-sizing: border-box;
}

/* --------- General Frame Styles --------- */

.frame {
    -webkit-app-region: drag;
    height: 25px;
    position: fixed;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


.os-win .frame {
    background-color: #344459;
}

.os-lnx .frame {
    background-color: #4C4A44;
}

.os-mac .frame {
    background-color: #E8E8E8;
}


/* --------- Frame Title Styles --------- */

    .frame .ec-title {
        margin-top: -2px;
        margin-left: 5px;
        float: left;
        font-size: 17px;;
        color: #EFECE3;
    }

        .os-lnx .frame .ec-title,
        .os-mac .frame .ec-title {
            width: 75%;
            text-align: center;
        }

        .os-mac .frame .ec-title {
          color: #2F2C2C;
        }

        .os-mac .frame .ec-title img {
            -webkit-filter: invert(80%);
        }


/* --------- Control Buttons Styles --------- */

.frame a {
    -webkit-app-region: no-drag;
    color: #9f9f9f;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

    .os-win .frame a {
        height: 100%;
        width: 28px;
        margin: 0;
        padding-top: 2px;
    }

    .os-lnx .frame a,
    .os-mac .frame a {
        height: 18px;
        width: 18px;
        border-radius: 10px;
        margin-top: 4px;
        margin-left: 4px;
        background-color: #75746D;
    }

    .os-mac .frame a {
/*        background-color: transparent;*/
        border-style: solid;
        border-width: 2px;
    }

    .frame a:hover {
        cursor: default;
    }

        .os-win .frame a:hover {
            background-color: #485F73;
        }

        .os-lnx .frame a:hover,
        .os-mac .frame a:hover {
            background-color: #C0C0C0;
        }

        .os-mac .frame .ec-controls a:hover img {
            opacity: 1;
        }

    .frame a img {
        vertical-align: middle;
    }

    .os-win .frame a img {
        width: 10px;
        height: 10px;
    }

    .os-lnx .frame a img,
    .os-mac .frame a img {
        width: 8px;
        height: 8px;
        margin-bottom: 3px;
    }

    .os-mac .frame a img {
        opacity: 0;
        margin-bottom: 7px;
        -webkit-filter: invert(80%);
    }



    .os-win .frame .ec-controls {
        height: 100%;
        float: right;
    }

    .os-lnx .frame .ec-controls,
    .os-mac .frame .ec-controls{
        height: 100%;
        float: left;
        direction: rtl;
    }

.os-win #window-close {
    width: 48px;
    background-color: #C75050;
}
.os-win #window-close:hover {
    background-color: #E04343;
}

.os-win #window-minimize,
.os-win #window-maximize,
.os-win #window-restore {
    margin-right: 1px;
}

.os-win #window-minimize:hover,
.os-win #window-maximize:hover,
.os-win #window-restore:hover {
    background-color: #485F73;
}

.os-win #window-minimize img {
    width: 15px;
}

.os-lnx #window-close {
    background-color: #E55E30;
}

.os-lnx #window-close:hover {
    background-color: #F17750;
}

.os-lnx #window-minimize img {
    width: 10px;
    margin-bottom: 8px;
}

.os-lnx #window-maximize,
.os-lnx #window-restore,
.os-mac #window-maximize,
.os-mac #window-restore {
    float: right;
}

    /* --- MAC ---*/
    .os-mac #window-close {
        border-color: #DF3A3D;
        background-color: #FB5959;
    }

    .os-mac #window-close:hover {
/*        border-color: #FD7E7A;
        background-color: #FD7E7A;*/
    }

    .os-mac #window-minimize {
        border-color: #DF9C3B;
        background-color: #FEBA4B;
        /*border-color: #F3BB65;*/
    }

    .os-mac #window-minimize img {
        width: 10px;
        margin-bottom: 12px;
    }

    .os-mac #window-minimize:hover {
/*        border-color: #FCD378;
        background-color: #FCD378;*/
    }

    .os-mac #window-maximize,
    .os-mac #window-restore {
        border-color: #0EAB41;
        background-color: #00C955;
    }

    .os-mac #window-maximize:hover,
    .os-mac #window-restore:hover {
/*        border-color: #B5E27B;
        background-color: #B5E27B;*/
    }


.icon-small {
    height: 22px;
    width: 22px;
    margin: 3px 1px -5px 0;
}


.container {
    margin-top: 25px;
}




body {
    background: #F9F9F9;
    min-height: 150px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.72222;
}
